$htmlFontSize: 62.5%; //body默认字体的大小
$gridContentWidth:100%;
$gridWidth:40px;
$gridHeight:40px;
$fontFamily:'Microsoft YaHei';
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: $htmlFontSize;
    font-family: $fontFamily;
}

#app {
    text-align: center;
}

#app h1{
    color:#2b94d5;
}
.gridContent {
    width: $gridContentWidth;
    height: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -140px;
    .grid {
        width: $gridWidth;
        height: $gridHeight;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        text-align: center;
        line-height: $gridHeight;
        font-size: 1rem;
        font-family: $fontFamily;
    }
    .title{
        color:#4c98ce;
        font-size:18px;
    }
    .current {
        color: #6876f3;
    }
    .last{
        color:#e2e0e0;
    }
    .next{
        color:#f7bebe;
    }
}
