$htmlFontSize: 62.5%; //body默认字体的大小
$gridContentWidth:100%;
$gridWidth:40px;
$gridHeight:40px;
$fontFamily:'Microsoft YaHei';
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-size: $htmlFontSize;
    font-family: $fontFamily;
}

#app {
    text-align: center;
}

.gridContent {
    width: $gridContentWidth;
    height: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -140px;
    .grid {
        width: $gridWidth;
        height: $gridHeight;
        border: 1px solid #999999;
        box-sizing: border-box;
        text-align: center;
        line-height: $gridHeight;
        font-size: 1rem;
        font-family: $fontFamily;
    }
    .current {
        color: red;
    }
}
